import(caret)
import(arules)
import(utils)
import(tm)
import(SnowballC)
import(wordcloud)
import(e1071)
import(gmodels)

export(getCarPrice)
export(getDiagnostic)
export(readDoc)
export(getPlot)
export(getClusters)
export(getRecommendations)
export(isSpam)
